<ul>
  <li>
    <a [routerLink]="['/']">abrir home</a>
  </li>
  <li>
    <a [routerLink]="['/componente1']">opcion componente 1</a>
  </li>
  <li>
    <a [routerLink]="['/componente2']">opcion componente 2</a>
  </li>
  <li>
    <a [routerLink]="['/componente99999999999999999']">opcion desconocida</a><!--para el caso de ruta desconocida-->
  </li>
  <li>
    <a [routerLink]="['/componente1',7000]">pasar un parametro</a>
  </li>
  <li>
    <a [routerLink]="['/componente2',1,2]">pasar 2 parametros</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>